.forms{
  text-align: left;
}



.names{
  margin-bottom: 20px;
}

.btn-edit{
  margin-right: 10px;
}

.navlink{
  color: white !important;
  margin-right: 20px;
  text-decoration: none !important;
 
}

.dashboard{
  margin-top: 100px;
}

.contain-box{
  margin-top: 200px;
  height: 100px;
  width: 60%;
  background: #fbfbfb;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.contain-box-2{
  margin-top: 200px;
  height: 100px;
  width: 60%;
  background: #fbfbfb;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.dash{
  display: flex;
  gap: 24px;
}

